<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Thymeleaf Demo</title>
</head>
<body>
    <h1 th:text="#{login.tip}">请登录</h1><br/>
    <label th:text="#{login.username}">用户名</label>
    <input th:placeholder="#{login.username}"/><br/>
    <label th:text="#{login.password}">密码</label>
    <input th:placeholder="#{login.password}"/><br/>

    <label>
        <input type="checkbox" th:text="#{login.remember}"/>
    </label>
    <br/>
    <button type="submit" th:text="#{login.btn}">登录</button>
    <br/>
    <a th:href="@{/index.html(l='zh_CN')}">中文</a>
    <a th:href="@{/index.html(l='en_US')}">English</a>
</body>
</html>